.intro-my {
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30%;
    .avatar {
        img {
            max-width: 180px;
            border-radius: 50%;
            border: 5px solid #fefefe;
            box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
        }
    }
    .inrto-text {
        .name {
            margin-bottom: 0;
        }
        .designation {
            color: #3c3e41;
        }
    }
    .btn-part {
        li {
            display: inline;
            margin-right: 25px;
            &:last-child {
                margin: 0;
            }
        }
    }
}

@media #{$sm} {
    .intro-my {
        position: unset;
        height: unset;
        max-width: 100%;
    }
}