.my-skills {
    .experiencees {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px -12px -8px;
        li {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            box-shadow: $shadow1;
            background-image: $bgColor;
            padding: 6px;
            margin: 10px 12px 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                width: auto;
                max-width: unset;
                min-height: 60px;
                max-height: 60px;
            }
        }
    }
    .skill-prigress {
        .p-items {
            label {

            }
            &.htmllang {

            }
            &.csslang {

            }
            &.jslang {

            }
            &.phplang {
                
            }
            &.reactlang {

            }
        }
    }
}

@media #{$xl} {
    .my-skills {
        .experiencees {
            li {
                width: 70px;
                height: 70px;
                img {
                    min-height: 50px;
                    max-height: 50px;
                }
            }
        }
    }
}
@media #{$lg} {
    .my-skills {
        .experiencees {
            li {
                width: 56px;
                height: 56px;
                img {
                    min-height: 40px;
                    max-height: 40px;
                }
            }
        }
    }
}
@media #{$md} {
    .my-skills {
        .experiencees {
            justify-content: space-evenly;
            li {
                width: 90px;
                height: 90px;
                img {
                    min-height: 50px;
                    max-height: 50px;
                }
            }
        }
    }
}
@media #{$sm} {
    .my-skills {
        .experiencees {
            justify-content: space-between;
            li {
                width: 72px;
                height: 72px;
                img {
                    min-height: 40px;
                    max-height: 40px;
                }
            }
        }
    }
}
@media (max-width: 347px) {
    .my-skills {
        .experiencees {
            margin: 0px;
            li {
                width: calc(50% - 10px);
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}