.my-skills {
    .experiencees {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px -12px -8px;
        li {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            box-shadow: $shadow1;
            background-image: $bgColor;
            margin: 10px 12px 30px;
        }
    }
}